@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 80 9% 7%;
    --foreground: 80, 88%, 84%;
 
    --card: 80 7% 8%;
    --card-foreground: 80 45% 94%;
 
    --popover: 80, 7%, 8%;
    --popover-foreground: 80 88% 84%;
 
    --primary: 82 98% 80%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 94 4% 17%;
    --secondary-foreground: 80 88% 84%;
 
    --muted: 0 0% 40%;
    --muted-foreground: 84 3% 45%;
 
    --accent: 100 4% 13%;
    --accent-foreground: 80 45% 94%
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 80 45% 94%;
 
    --border: 90 6% 13%;
    --input: 90 5% 22%;
    --ring: 82 98% 80%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}